@import 'utilities';

$mainColor: #091f36;
$greyBlue: #4f5f76;
$header-color: #feda6a;


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.mobile-container {
    display: none !important;
}

.desktop-container {
    display: block;
}


@media only screen and (max-width: 768px) {
    .desktop-container {
        display: none;
    }

    .mobile-container {
        display: block !important;
    }

    .row {
        margin: 0 !important;
    }

    .blue-btn12 {
        background: $mainColor;
    }

    .img-container {
        &:last-child {
            &>.img-cover {
                padding-bottom: 40px;
            }
        }

        .img-cover {
            background: rgba(0, 0, 0, .8);
            padding-top: 40px;
            width: 100%;
            margin: 0;
            border: none;
        
            & > img {
                width: inherit;
            }
        
            // &.last-cover {
            //     padding-bottom: 40px;
            // }
            
        }
    }
    
    
    .add-pad {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    
    @keyframes fade-in {
        from{
            visibility: hidden;
            width: 60%;
            height: 60%;
        } to {
            visibility: visible;
            width: 100%;
            height: 100%;
        }
    }
    
    nav {
        justify-content: flex-start !important;
    
        .head-container {
            flex-grow: 1;
            @include centerize();
            
        }
    
        .nav-line {
            width: 25px;
            height: 4px;
            background: white;
            margin-bottom: 5px;
            border-radius: 2px;
            &:last-child {
                width: 15px;
                margin-bottom: 0 !important;
            }
        }
    
        .main-links {
            margin-bottom: 200px;
        }
    
        .divider {
            background-color: white;
            // width: 100
        }
    
    }
    
    #footer {
        width: 100%;
        padding: 30px 0;
        background: $mainColor;
    
        .subscriber {
            padding: 0;
    
            .brnd-header {
                padding: 10px 0 30px 0;
    
                .footer-brand {
                    color: $greyBlue;
                    font-weight: 900;
                    z-index: 0 !important;
                }
            }
    
            .form {
                width: 100%;
                padding: 0 0;
    
                .email-input {
                    width: inherit;
                    background: $mainColor;
                    padding: 5px 0;
                    height: 40px;
                    border: none;
                    border-bottom: 2px solid $greyBlue;
                    outline: none;
                    color: white;
                }
    
                .submit-area {
                    padding: 20px 0 25px 0;
    
                    &>button {
                        color: $greyBlue;
                        border: 2px solid $greyBlue;
                        background: $mainColor;
                        padding: 6px 45px;
                        border-radius: 30px;
                        font-size: 19px;
                    }
                }
            
            }
    
            .p-cover {
                &>p {
                    color: white;
    
                }
            }
    
            .footer-elm {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 20px;
                padding-bottom: 22px;
    
                &>h3 {
                    color: $header-color;
                    margin-bottom: 13px;
                    font-weight: 600;
                }
                &>.shot-link {
                    color: #fff;
                    font-size: 18px;
    
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    
    .socials {
        display: flex;
        width: 50%;
    
        .social {
            font-size: 30px;
            @include centerize();
            
            &>a {
                color: $greyBlue;
            }
    
            &:first-child {
                padding-left: 0;
            }
        }
    }   
}

